*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 header{
    display: flex;
    background-color:#222222;
    justify-content: space-between;
    align-items: center;
 }


 .logotipo{
    display: flex;
    align-items: center;
    
 }

 .logotipo p{
    width: 132px;
    height: 28px;
    top: 36px;
    left: 122px;
    font-family: 'Roboto',  sans-serif;
    font-weight: bold;
    color: white;
    padding-left: 5px;
    
 }

 span.pizza{
    color: green;
 }

 span.front{
    color: red;
 }

 header nav ul{
    display: flex;
    color: white;
    font-family: 'Roboto',  sans-serif;   
    list-style: none;
 }

ul li{
  margin: 8px;
 }


 main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f2f2f2;
    height: 70vh;
  
 
    
 }


 .section-1{
   width: 32rem;
   height: 22rem;
   border-radius: 5px;
   justify-content: center;
   position: relative;

 }

 .section-2 {
   display: flex;
   background-color: white;
   border-radius: 5px;
   width: 34rem;
   height: 22rem;
  
 }


 .section-1 p{
    position: absolute;
    font-family: 'Roboto',  sans-serif;
    color: white;
    z-index: 2;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 40px;
    top: 5px;

    
 }

 .section-1 p span{
   
    color: red;
    
 }

 .section-1 img{
    border-radius: 5px;

 }

 .section-2 img{

    border-radius: 5px;
    padding-right: 50px;
    align-self: center;
 }

 
 .section-2 .lista-menu{
    width: 280px;
    height: 178px;
    top: 300px;
    left: 565px;    
    align-self: center;
    padding-left: 50px;
 }

  
 .section-2  h2{
   color: red;
   font-family: 'Roboto',  sans-serif;
   width: 224px;
   
  
 }

 .section-2  h3{
    font-family: 'Roboto',  sans-serif;
    padding: 5px;
  }

  .section-2  ol{
    font-family: 'Roboto',  sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

  }

  .section-2  ol li{
   margin: 8px;

  }

  footer{
    display: flex;
    background-color:#222222;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    top: 800px;
   
   
    

 }

 footer nav ul{
    color: white;
    font-family: 'Roboto',  sans-serif;
    justify-content: space-around;
    list-style: none;
    
 }


@media(max-width:768px){
   /* Tablets */

   main{
      flex-direction:column;
      background-color: white;
      height: 40rem;
   }
   .section-1{
      width: 30rem;
      height: 15rem;
      margin-bottom: 3rem;
      color: green;
   
    }

    .section-1 p{
      color: green;
   
    }
   
    .section-2 {
      width: 30rem;
      height: 10rem;
     
    }
 


   
 }
 @media(max-width:460px){
   /* smartphone */

   main{
      flex-direction:column;
      background-color: #222222;
     
   }
   
   .section-1{
      width: 35rem;
      height: 15rem;
      margin-bottom: 10rem;
   
    }

    .section-1 p{
      color: white;
   
    }
   
    .section-2 {
      width: 30rem;
      height: 15rem;
     
    }

    .section-2 h2{
      color: green;
   
    }



 }

